---
import Layout from "~/layouts/Layout.astro";
---

<Layout title="Nicht Verfügbar">
	<div
		class="px-6 m-auto max-w-xl w-full text-center absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%]"
	>
		<h1 class="text-3xl font-medium mb-4">
			Wir sind kurzzeitig nicht erreichbar...
		</h1>
		<p class="text-lg">
			Diese Seite ist im Moment nicht erreichbar. Wir sind bereits dabei
			das Problem zu lösen und freuen uns, sie in wenigen Stunden wieder
			bei uns begrüßen zu dürfen.
		</p>
	</div>
</Layout>
